 /* TABLE OF CONTENTS 
1. Global Styles / Variables 
2. Logo 
3. Navigation 
4. Dropdown Menu 
5. Buttons 
6. Color 
7. Letter-spacing 
8. Font-weight 
9. Font-size 
10. Text-alignment 
11. Text-decorations / Transformations 
12. Background-color 
13. Background-images 
14. Borders 
15. Box-shadows 
16. Website Pages 
    16a. Home 
    16b. Reservation 
    16c. About 
    16d. Hours 
    16e. Menu 
        16e-i. Appetizer 
        16e-ii. Main 
        16e-iii. Dessert 
        16e-iv. Beverage 
    16f. Maori Culture 
    16g. Maori Kai 
    16h. Voucher 
    16i. Contact 
    16j. Staff
    16k. Privacy policy
17. Footer 
18. Animations 
19. Media Queries 
    19a. Media Query, (max-width: 1390px) 
    19b. Media Query, (max-width: 1000px) 
    19c. Media Query, (max-width: 635px) 
    19d. Media Query, (max-width: 400px)*/

 /*=====1. Global Styles / Variables=====*/

 @import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

 :root {
     --dark: #405659;
     --medium: rgb(89, 73, 54);
     --light: #8c3629;
     --pale: #ffffff;
     --shadow-color: 0deg 0% 61%;
     --shadow-elevation-medium: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0), 1.2px 2.4px 4px hsl(var(--shadow-color) / 0.17), 2.4px 4.8px 8px hsl(var(--shadow-color) / 0.35), 4.9px 9.9px 16.6px hsl(var(--shadow-color) / 0.52);
     --bar-width: 50px;
     --bar-height: 5px;
     --hamburger-gap: 6px;
     --hamburger-margin: 8px;
     --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
     scroll-behavior: smooth;
 }

 body,
 #policy header a,
 #policy footer a {
     font-family: 'Yaldevi', Arial, sans-serif;
 }

 .card,
 body {
     box-sizing: border-box;
 }

 h1,
 .reserve h2,
 .home-book-table>h2,
 .buttons a,
 .heading-culture-type,
 .gift-heading {
     font-family: 'Cinzel', serif;
 }

 .native-ingredient-intro p,
 .menu-image,
 .gallery-container,
 .home-image-menu,
 .card-image img,
 h2,
 ul,
 .logo figure,
 body {
     padding: 0;
 }

 .login h4,
 .logo-title,
 .contact,
 .map figure,
 .copywright,
 .see-menu a,
 .info h4,
 .info p,
 .footer-container p,
 .footer-container h4,
 .opening-hours ul li,
 .voucher-info,
 .native-ingredient-intro p,
 .menu-image,
 .gallery-container,
 .home-image-menu,
 .card-sections,
 .logo-subtitle,
 .voucher-title,
 .voucher-subtitle,
 .card hr,
 .card h3,
 h2,
 .card-image .buttons a,
 ul,
 .logo figure,
 .logo img,
 .voucher img,
 body {
     margin: 0;
 }

 #privacy-policy .reserve-btn,
 .staff-container,
 .days,
 .roster-week h4,
 .days-staff h4,
 .underline-policy,
 .policy-container,
 .map img,
 #statement,
 .maori-recipes-intro,
 table,
 .about {
     margin: auto;
 }

 .menu-container-appetizers,
 .menu-container,
 .menu-container-desserts,
 .menu-container-beverages,
 .kaiwhenua-images,
 .about,
 .reserve {
     margin-bottom: 70px;
 }

 .info-here::after,
 .image-cover,
 .maori-recipes,
 iframe,
 .culture-underline,
 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .gallery-image,
 .google-form,
 .card-image img {
     width: 100%;
 }

 hr,
 .staff-container {
     width: 90%;
 }

 table,
 #iframes {
     width: 80%;
 }

 .about,
 .policy-container {
     width: 60%;
 }

 #statement,
 .reservation-image,
 .table,
 .card-sections,
 .card,
 .voucher-info,
 .card-image .buttons a {
     width: 50%;
 }

 .cover,
 #kai .recipes-squares a,
 .recipes-squares {
     width: 330px;
 }

 .card-image .buttons a,
 .buttons a,
 ul li a {
     height: 44px;
 }

 #kai .recipes-squares a,
 .recipes-squares {
     height: 330px;
 }

 .gift-card,
 .gift {
     height: 228px;
 }

 .image-cover,
 .our-story-image,
 .restaurant-image,
 .book,
 .landscape {
     height: 550px;
 }

 .card-image img,
 .info-here::after,
 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .gallery-image {
     height: 100%;
 }

 #staff ul,
 .opening-hours ul li,
 .hours,
 .map img,
 #kai .recipes-squares a,
 #kai ul li,
 .native-ingredients,
 .gallery-image,
 ul li a,
 ul li:hover ul.dropdown,
 ul li ul.dropdown li {
     display: block;
 }

 ul li ul.dropdown,
 #home-nav,
 .hamburger-menu {
     display: none;
 }

 ul li {
     display: inline-block;
 }

 .login,
 .info-here,
 .opening-hours ul li,
 .card-culture-container,
 .iframe-container,
 .reservation-image,
 #reservation .container,
 .our-story-image,
 .restaurant-image,
 .book,
 .landscape,
 .recipes-squares,
 ul li {
     position: relative;
 }

 .image-cover,
 .info-here::after,
 .image-cover,
 .cover,
 #kai .recipes-squares a,
 #iframes,
 ul li ul.dropdown {
     position: absolute;
 }

 .info-here::after,
 .google-form {
     top: 0;
 }

 .login,
 .info-here::after,
 #kai .recipes-squares a,
 #iframes,
 .iframe-container,
 .reservation-image,
 .our-story-image,
 .restaurant-image,
 .book,
 .landscape {
     z-index: -1;
 }

 .appetizers,
 .mains,
 .desserts,
 .beverages,
 ul li ul.dropdown {
     z-index: 2;
 }

 .days-staff,
 #staff .daily-staff,
 #staff .days,
 .weeks,
 .days,
 .staff,
 .staff-container,
 .voucher-content,
 .audio-info,
 .audio,
 .footer-container,
 .gift-card,
 .recipes,
 .native-ingredient-intro,
 .card-culture-container,
 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .reserve-container,
 .info,
 .card-image,
 .card,
 .buttons,
 ul,
 .nav-container,
 #header {
     display: flex;
 }

 .days-staff,
 .weeks,
 .staff,
 .audio-info,
 .footer-container,
 .recipes {
     flex-wrap: wrap;
 }

 .days-staff,
 .weeks,
 .staff,
 .card-image,
 .footer-container,
 .recipes {
     flex-direction: row;
 }

 .staff-container,
 #staff .daily-staff,
 .audio-info,
 .card-culture-container,
 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .card {
     flex-direction: column;
 }

 .audio,
 .voucher-content,
 .recipes,
 .reserve-container,
 .card {
     justify-content: center;
 }

 .days,
 .weeks,
 .staff-container,
 .staff,
 .footer-container,
 .gift-card,
 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .info,
 .buttons,
 #header {
     justify-content: space-between;
 }

 .nav-container {
     justify-content: flex-end;
 }

 .reserve,
 .buttons,
 .audio-info,
 .audio,
 .gift-card,
 .introduced,
 #header {
     align-items: center;
 }

 .introduced,
 .nz-ingredients-container,
 .culture-container,
 .menu-container-appetizers,
 .menu-container,
 .menu-container-desserts,
 .menu-container-beverages,
 .kaiwhenua-images {
     display: grid;
 }

 .days-staff,
 .culture-container,
 .card {
     gap: 30px;
 }

 .weeks,
 .staff-container {
     gap: 40px;
 }

 .coffee,
 .lamb,
 .salmon,
 .fish {
     grid-column: 6 / 9;
 }

 .salmon,
 .coffee,
 .wine-glasses {
     grid-row: 1 / 7;
 }

 .beer,
 .banoffee,
 .pavlova,
 .pork,
 .seafood {
     grid-column: 5 / 9;
 }

 .seafood,
 .wine-with-meal,
 .beer {
     grid-row: 7 / 11;
 }

 .wine-glasses,
 .venison,
 .snapper {
     grid-column: 1 / 6;
 }

 .snapper,
 .pavlova {
     grid-row: 1 / 6;
 }

 .wine-with-meal,
 .pudding,
 .icecream,
 .scallops,
 .bread {
     grid-column: 1 / 5;
 }

 .bread,
 .banoffee {
     grid-row: 6 / 11;
 }

 .beverages,
 .desserts,
 .mains,
 .appetizers {
     grid-column: 3 / 7;
 }

 .desserts,
 .appetizers {
     grid-row: 3 / 9;
 }

 .kereru,
 .scallops,
 .pork,
 .icecream {
     grid-row: 1 / 5;
 }

 .chowder,
 .juice,
 .fern {
     grid-column: 1 / 4;
 }

 .juice,
 .drinks {
     grid-row: 11 / 16;
 }

 .kereru,
 .nz-ingredients-container>.land {
     grid-column: 1 / 3;
 }

 .introduced p,
 .introduced h2,
 .nz-ingredients-container>.sea,
 .nz-ingredients-container>.land {
     grid-row: 1 / 2;
 }

 .nz-ingredients-container>.sea,
 .huhu {
     grid-column: 3 / 5;
 }

 .forest {
     grid-column: 1 / 2;
 }

 .animal-food,
 .forest {
     grid-row: 2 / 5;
 }

 .animal-food {
     grid-column: 2 / 3;
 }

 .horopito,
 .puha {
     grid-row: 6 / 7;
 }

 .puha,
 .kina {
     grid-column: 7 / 8;
 }

 .paua,
 .huhu {
     grid-row: 1 / 3;
 }

 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .gallery-image,
 .card-image img {
     object-fit: cover;
 }

 /*====2. logo====*/

 .logo {
     padding: 5px 30px;
 }

 .logo img,
 .voucher img {
     width: 100px;
     height: 5px;
     transform: translate(0, -10px);
 }

 /*=====3. navigation=====*/

 .nav-container {
     padding: 0 40px;
     align-items: flex-end;
 }

 ul {
     list-style-type: none;
     gap: 20px;
 }

 .sidebar {
     max-height: 80px;
 }

 /*====4. dropdown menu====*/

 .icon {
     padding-right: 10px;
     transform: translate(-10px, -12px);
 }

 ul li ul.dropdown {
     width: 130px;
 }

 ul li a {
     padding: 20px 20px 0 20px;
 }

 /*=====5. Buttons=====*/

 .buttons a {
     margin: 10px 50px;
     width: 20%;
     padding: 20px 0 0 0;
 }

 .home-book-table a {
     margin: 10px auto 25px;
 }

 .reserve {
     padding-bottom: 10px;
 }

 /*=====6. Font Colours=====*/

 .roster-week h4,
 .days-staff h4,
 .privacy-answers h4,
 .nz-ingredients-container h4,
 ul li a,
 .see-menu a:hover,
 .info h4,
 .meal h3,
 th,
 h2,
 h1,
 ul li a:hover,
 .logo-title,
 .voucher-title {
     color: var(--dark);
 }

 #privacy-policy .buttons a:active,
 .buttons a:active,
 .card p,
 #menu p,
 td,
 .our-restaurant>p,
 h3,
 .menu-heading,
 .logo-subtitle,
 .voucher-subtitle,
 .about p {
     color: var(--medium);
 }

 .current a,
 .price,
 .buttons .reservation-btn a,
 .see-menu {
     color: var(--light);
 }

 #privacy-policy .buttons a,
 .copywright a,
 #policy .copywright a,
 .contact-details,
 ul li .animate-size:focus,
 footer,
 a,
 .maori-recipes h2,
 .maori-recipes p,
 .gift p,
 .gift-heading {
     color: white;
 }

 .staff a:hover,
 .see-menu:hover {
     color: rgb(162, 193, 233);
 }

 /*=====7. Letter-spacing=====*/

 .contact-details,
 .voucher-subtitle,
 a,
 .footer-container a,
 .footer-container h4 {
     letter-spacing: 3px;
 }

 h1,
 h2,
 h3,
 .menu-heading,
 th,
 .foraged-forest h3,
 .shellfish h3 {
     letter-spacing: 2px;
 }

 .about p {
     letter-spacing: 1.5px;
 }

 .copywright a,
 #policy .copywright a,
 .see-menu a,
 .info h4,
 .info p,
 .footer-container p,
 .footer-container h4,
 .opening-hours ul li,
 p,
 td,
 .heading-culture-type,
 footer {
     letter-spacing: 1px;
 }

 #privacy-policy p,
 #privacy-policy li {
     letter-spacing: 0;
 }

 /*=====8. Font-weight=====*/

 .buttons .reservation-btn a {
     font-weight: 800;
 }

 ul li a:hover,
 .footer-container a,
 .footer-container h4 {
     font-weight: 700;
 }

 h3,
 .menu-heading,
 th,
 a {
     font-weight: 600;
 }

 #privacy-policy p,
 #privacy-policy li,
 p,
 td,
 h1,
 h2 {
     font-weight: 500;
 }

 .copywright a,
 #policy .copywright a {
     font-weight: 400;
 }

 .footer-container p,
 .opening-hours ul li,
 .copywright {
     line-height: 1.7;
     font-weight: 300;
 }

 /*=====9. Font-sizes=====*/

 h1 {
     font-size: 3em;
 }

 .reserve h2 {
     font-size: 2.6em;
 }

 .voucher-title,
 h2 {
     font-size: 2em;
 }

 .buttons .reservation-btn a,
 .heading-culture-title {
     font-size: 1.6em;
 }

 .logo-title,
 .contact {
     font-size: 1.5em;
 }

 .foraged-forest h3,
 .shellfish h3,
 .gift-heading {
     font-size: 1.4em;
 }

 h3,
 .menu-heading,
 th {
     margin: 20px 0;
     font-size: 1.3em;
 }

 #privacy-policy h3,
 a,
 .price,
 #statement {
     text-decoration: none;
     font-size: 1.2em;
 }

 .footer-container a,
 .footer-container h4,
 p,
 td,
 .heading-culture-type,
 ul li a,
 #kai p,
 #kai li {
     font-size: 1.1em;
 }

 #privacy-policy .buttons a,
 .copywright a,
 #policy .copywright a,
 #privacy-policy p,
 #privacy-policy li,
 .roster-week p,
 .voucher-subtitle,
 .see-menu,
 .gift p,
 .staff a {
     font-size: 1em;
 }

 .copywright,
 .see-menu a,
 .info h4,
 .info p,
 .footer-container p,
 .footer-container h4,
 .opening-hours ul li {
     padding: 3px;
     font-size: 0.9em;
 }

 .audio a,
 .logo-subtitle {
     font-size: 0.8em;
 }

 /*=====10. Text-alignment=====*/

 .roster-week h4,
 .days-staff h4,
 .contact-details,
 .staff-working h3,
 .our-restaurant,
 .home-book-table,
 .page-top-headings,
 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .maori-recipes h2,
 #kai .recipes-squares a,
 .gift,
 .buttons a,
 .native-ingredient-intro p {
     text-align: center;
 }

 .location>h4,
 .location>p,
 .price,
 .bottle-glass {
     text-align: right;
 }

 ul li a,
 th,
 footer,
 .native-ingredient-intro p {
     text-align: left;
 }

 .maori-recipes p,
 .card p {
     line-height: 1.5;
 }

 .voucher-info,
 #statement {
     line-height: 1.7;
 }

 #privacy-policy p,
 #privacy-policy li {
     line-height: 2.5;
 }

 /*=====11. text-decorations / transformations=====*/

 h1,
 h2,
 h3,
 .menu-heading,
 th,
 a,
 .voucher-subtitle {
     text-transform: uppercase;
 }

 .time {
     text-transform: lowercase;
 }

 .staff a,
 .see-menu a {
     text-transform: none;
     cursor: pointer;
     box-shadow: none;
 }

 .see-menu {
     padding-left: 2px;
 }

 .copywright a,
 #policy .copywright a,
 #privacy-policy h3,
 #statement {
     text-transform: capitalize;
 }

 #policy a {
     text-decoration: none;
 }

 .copywright a,
 #policy .copywright a {
     text-decoration: underline;
 }

 /* --- margins and padding --- */

 th {
     padding-bottom: 15px;
 }

 .card hr {
     width: 120px;
 }

 .footer-container h4 {
     padding: 10px 0 4px 0;
 }

 .price {
     padding-left: 5px;
 }

 .foraged-forest h3,
 .shellfish h3 {
     padding: 20px 0;
 }

 #kai .recipes-squares a,
 .contact-details {
     padding-top: 10px;
 }

 .days-staff,
 .staff-working h3 {
     margin: 0 10px;
 }

 #staff iframe,
 .buttons {
     margin: 30px 0;
 }

 /*=====12. background colours=====*/

 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .buttons a:active,
 ul,
 .buttons>.reservation-btn,
 .see-menu {
     background-color: white;
 }

 .contact-details,
 .our-story-image,
 .restaurant-image,
 .book,
 .landscape,
 .recipes-squares,
 .info-here::after,
 footer,
 .foraged-forest,
 .animal-foods,
 .shellfish,
 .maori-recipes,
 .gift,
 .hours {
     background-color: var(--dark);
 }

 .info-here,
 .buttons a,
 .animate-size:active {
     background-color: var(--light);
 }

 .google-form,
 .iframe-container {
     background-color: rgb(89, 73, 54, 0.3);
 }

 .cover {
     background-color: hsl(0, 0%, 93%, 0.7);
 }

 /*=====13. background css images=====*/

 .our-story-image,
 .restaurant-image,
 .book,
 .landscape,
 .recipes-squares {
     background-repeat: no-repeat;
     background-size: cover;
 }

 .restaurant-image {
     background-image: url("../images/restaurant2.jpg");
 }

 .book {
     background-image: url("../images/reserve.jpg");
 }

 .chef {
     background-image: url("../images/chef.jpg");
 }

 .landscape {
     background-image: url("../images/landscape.jpg");
 }

 .hangi {
     background-image: url("../images/hangi.jpg");
 }

 .muscles {
     background-image: url("../images/muscles.jpg");
 }

 .boil-up {
     background-image: url("../images/boil.jpg");
 }

 .fried-bread {
     background-image: url("../images/fried-bread.jpg");
 }

 .maori-bread {
     background-image: url("../images/maori-bread.jpg");
 }

 .huhu {
     background-image: url("../images/huhu.jpg");
 }

 .paua-fritter {
     background-image: url("../images/paua-fritter.jpg");
 }

 .ika-mata {
     background-image: url("../images/ika-mata.jpg");
 }

 .our-story-image {
     background-image: url("../images/maori.jpg");
 }

 .carve {
     background-image: url("../images/carve.jpg");
 }

 .gift-voucher {
     background-image: url("../images/gift.jpg");
 }

 /*=====14. Borders=====*/

 .card hr,
 .appetizers,
 .mains,
 .desserts,
 .beverages {
     border: 1px solid lightgrey;
 }

 .staff-working,
 .staff {
     border-top: 8px solid var(--light);
 }

 .animate-size:active,
 ul li ul.dropdown,
 .buttons a {
     border-radius: 4px;
 }

 .map img,
 .card-culture-container,
 .appetizers,
 .mains,
 .desserts,
 .beverages,
 .recipes-squares,
 .gift-card,
 .card-image,
 .buttons>.reservation-btn {
     border-radius: 8px;
 }

 .staff-working,
 .staff,
 iframe,
 .card-culture-container img,
 .odd-image {
     border-radius: 8px 8px 0 0;
 }

 .even-image {
     border-radius: 8px 0 0 8px;
 }

 .gift,
 .odd-image {
     border-radius: 0 8px 8px 0;
 }

 .info-here::after,
 .info-here {
     border-radius: 50%;
 }

 .buttons a,
 .final-cards,
 iframe {
     border: none;
 }

 hr {
     border: 1px solid var(--light);
     margin: 60px auto 40px;
 }

 /*=====15. Box-shadows=====*/

 .staff,
 .staff-working,
 .map img,
 .recipes-squares,
 .restaurant-image,
 .landscape,
 .kaiwhenua-images,
 .menu-container-appetizers,
 .menu-container,
 .menu-container-desserts,
 .menu-container-beverages,
 .card-image,
 .our-story-image,
 .iframe-container,
 .google-form,
 .buttons>.reservation-btn,
 .buttons a,
 .book,
 .gift-card,
 .restaurant-image,
 .card-culture-container {
     box-shadow: var(--shadow-elevation-medium);
 }


 /*=====16. Website Pages=====*/

 /* ######### 16a. Home ######### */

 .our-restaurant {
     margin: 70px 10px 58px;
 }

 .card {
     padding: 80px;
 }

 .card-image {
     margin: 60px 120px;
 }

 .card p {
     margin: 3px 0;
 }

 /* ######### 16b. About ######### */

 #our-story-article .our-restaurant {
     margin-top: 100px;
 }

 .about {
     line-height: 2;
 }

 .about p {
     padding: 10px 0;
 }

 /* ######### 16c. Reservations ######### */

 .info {
     align-items: start;
     margin: 0 50px 5px;
 }

 .google-form {
     margin: 20px 0 60px 0;
     padding: 40px 25px;
     right: 40px;
     height: 950px;
     border-radius: 0;
 }

 .reservation-image {
     margin-top: 25px;
     filter: sepia(0.5);
     min-height: 80vh;
 }

 /* ######### 16d. Hours ######### */

 .iframe-container {
     height: 1300px;
     margin-bottom: 60px;
 }

 #iframes {
     top: 5%;
     left: 10%;
 }

 /* ######### 16e. Menu ######### */

 .page-top-headings {
     margin: 70px 50px 50px 50px;
 }

 /* --- 16e-i. Appetizer ---*/

 .menu-container-appetizers,
 .menu-container,
 .menu-container-desserts,
 .menu-container-beverages,
 .kaiwhenua-images {
     grid-template-columns: repeat(8, 1fr);
     grid-template-rows: repeat(10, 7vw);
     padding: 7.5px 0;
     gap: 15px;
 }

 #staff .daily-staff,
 .kaiwhenua-images {
     gap: 5px;
 }

 .menu-container-appetizers {
     margin-top: 15px;
     padding-top: 15px;
 }

 .salmon img,
 .snapper img {
     transform: scaleX(-1);
 }

 .appetizers,
 .mains,
 .desserts,
 .beverages {
     padding: 10px 40px;
 }

 /* --- 16e-ii. Main Menu --- */

 .menu-container {
     grid-template-rows: repeat(12, 7vw);
 }

 .fish {
     grid-row: 9 / 13;
 }

 .chowder {
     grid-row: 5 / 8;
 }

 .lamb {
     grid-row: 5/9;
 }

 .venison {
     grid-row: 8/13;
 }

 .mains {
     grid-row: 3 / 11;
 }

 /* --- 16e-iii. Desserts --- */

 .pudding {
     grid-row: 5 / 11;
 }

 /* --- 16e-iv. Beverages --- */

 .menu-container-beverages {
     grid-template-rows: repeat(15, 7vw);
 }

 .drinks {
     grid-column: 4 / 9;
 }

 .beverages {
     grid-row: 2 / 15;
 }

 table {
     text-align: start;
 }

 caption {
     margin: 10px 0;
 }

 /* ######### 16f. Maori Culture ######### */

 #maori-culture hr,
 #kai hr {
     margin-top: 50px;
 }

 #maori-culture hr {
     margin-bottom: 50px;
 }

 .culture-container {
     grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
     grid-auto-rows: 7rem;
     max-width: 1500px;
     margin: 0 auto;
 }

 .culture-article {
     margin: 0 25px;
     line-height: 1.6;
 }

 .culture-underline {
     margin: 40px 0;
 }

 .heading-culture-title {
     margin-left: 25px;
 }

 .heading-culture-type {
     margin: 15px 0 15px 25px;
 }

 .shortest {
     grid-row: span 4;
 }

 .short {
     grid-row: span 5;
 }

 .short-medium {
     grid-row: span 6;
 }

 .medium {
     grid-row: span 7;
 }

 .tall {
     grid-row: span 8;
 }

 .tallest {
     grid-row: span 9;
 }

 .taller {
     grid-row: span 10;
 }

 /* ######### 16g. Maori Kai ######### */

 .nz-ingredients-container {
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 70px 1fr;
     margin: 0 0px 50px 10%;
 }

 .nz-ingredients-container h4 {
     margin: 0 0 10px;
 }

 .kaiwhenua-images {
     grid-template-rows: 7vw 7vw 7vw 7vw 7vw;
 }

 .fern {
     grid-row: 5 / 7;
 }

 .native-ingredient-intro {
     gap: 130px;
     width: 76%;
     margin: 80px auto 40px;
 }

 .native-ingredient-intro p {
     padding-left: 60px;
     margin-left: 15px;
     transform: translate(0, -20px);
 }

 .horopito {
     grid-column: 6 / 7;
 }

 .moa {
     grid-column: 3 / 4;
     grid-row: 3 / 5;
 }

 .muttonbird {
     grid-column: 4 / 6;
     grid-row: 6 / 7;
 }

 .paua {
     grid-column: 5 / 7;
 }

 .whitebait {
     grid-column: 4 / 7;
     grid-row: 3 / 6;
 }

 .eels {
     grid-column: 7 / 9;
     grid-row: 1 / 4;
 }

 .kina {
     grid-row: 4 / 6;
 }

 .pipi {
     grid-column: 8 / 9;
     grid-row: 4 / 7;
 }

 .introduced {
     grid-template-columns: 11% 1fr 1fr 1fr 11%;
     grid-template-rows: 1fr;
     margin: 80px 0;
 }

 .introduced h2 {
     grid-column: 4 / 5;
     text-align: end;
     padding-left: 30px;
 }

 .introduced p {
     padding-right: 60px;
     margin-right: 15px;
     grid-column: 2 / 4;
 }

 .recipes {
     padding: 60px;
     gap: 80px;
     margin-bottom: 80px;
 }

 .maori-recipes h2 {
     padding: 110px 0 30px 0;
 }

 .maori-recipes-intro {
     width: 78%;
 }

 .recipes-squares {
     filter: sepia(0.6);
 }

 #kai .recipes-squares a {
     color: black;
 }

 .cover {
     height: 50px;
     z-index: 99;
     top: 30px;
     padding-top: 8px;
 }

 /* ######### 16h. Voucher ######### */

 .image-cover {
     background-color: rgb(0, 0, 0, 0.4);
 }

 .voucher-content {
     gap: 100px;
     margin: 100px;
 }

 .voucher {
     margin: 0 20px 0 20px;
 }

 .gift-card {
     width: 400px;
 }

 .gift {
     width: 236.3px;
 }

 .gift p {
     margin: 40px 10px 10px;
 }

 .gift-heading {
     margin-top: 60px;
 }

 /* ######### 16i. Contact ######### */

 .map {
     padding: 40px 0 0;
     height: 600px;
 }

 /* ######### 16j. Staff ######### */

 .roster-week {
     min-width: 220px;
     padding: 15px 50px;
 }


 #staff h4 {
     animation: none !important;
 }

 .roster-week h4,
 .days-staff h4 {
     margin-bottom: 10px;
 }

 .days {
     padding: 2px 0;
 }

 .contact-details {
     flex-grow: 1;
     min-width: 250px;
 }

 .staff-working h3 {
     padding: 0 0 25px 0;
 }

 .staff-working {
     max-width: 90%;
     margin: 40px auto;
     padding: 50px 0;
 }

 .days-staff {
     justify-content: space-evenly;
 }

 /* ######### 16k. Privacy policy ######### */

 .underline-policy {
     margin-top: 40px;
 }

 .privacy-answers {
     margin: 40px 0;
 }

 #privacy-policy .buttons a {
    padding: 10px 0 10px 0;
 }
 /*=====17. Footer=====*/
 footer {
     padding: 40px;
 }

 #staff iframe {
     height: 1200px;
 }

 .reservation-footer {
     height: 40px;
 }

 .copy {
     padding: 40px 0 10px;
 }

 .hours {
     padding-left: 0;
 }

 /*=====18. Animations=====*/

 /*h1 heading colour change*/
 @keyframes color-change-h1 {
     from {
         color: white
     }

     to {
         color: var(--dark)
     }
 }

 @keyframes color-change-h3 {
     from {
         color: white
     }

     to {
         color: var(--medium)
     }
 }

 /*Cover slide over background images*/
 @keyframes slide {
     from {
         width: 100%
     }

     to {
         width: 0%;
     }
 }

 /*Scale buttons, nav and Kai- squares*/
 @keyframes scale {
     0% {
         transform: scale(1);
     }

     30% {
         transform: scale(1.1);
     }

     100% {
         transform: scale(1);
     }
 }

 /*Alert circle*/
 @keyframes audio {
     0% {
         opacity: 0;
     }

     50% {
         transform: scale(1.5);
         opacity: 0.3;
     }
 }

 .our-restaurant h1 {
     animation-name: color-change-h1;
 }

 .reservation-btn:hover,
 a:hover,
 .animate-size:hover,
 .logo:hover,
 .recipes-squares:hover,
 .gift-card:hover,
 .our-restaurant h1,
 #statement,
 .image-cover {
     animation-iteration-count: 1;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
     animation-direction: normal;
 }

 #statement {
     animation-name: color-change-h3;
 }

 .image-cover {
     animation-name: slide;
 }

 .animate-size:hover,
 .staff h4:hover,
 .reservation-btn:hover,
 .buttons a:hover,
 .logo:hover,
 .recipes-squares:hover,
 .gift-card:hover {
     animation-name: scale;
 }

 .info-here::after {
     animation-name: audio;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
     animation-timing-function: cubic-bezier(0.9, 0.7, 0.5, 0.9);
 }

 .animate-size:hover,
 .staff h4:hover,
 .reservation-btn:hover,
 .buttons a:hover,
 .logo:hover,
 .recipes-squares:hover,
 .gift-card:hover,
 .image-cover,
 #statement,
 .our-restaurant h1 {
     animation-duration: 1s;
 }

 .info-here {
     width: 15px;
     height: 15px;
 }

 .audio a {
     color: blue;
     text-decoration: underline;
     text-transform: capitalize;
 }

 .audio-info {
     gap: 10px;
 }

 .info-here::after {
     content: '';
     left: 0px;
 }

 /*=====19. Media Queries=====*/

 /* ########## 19a. Media query: screen-size, max-width; 1390px ########## */

 @media screen and (max-width: 1390px) {
     .navbar a {
         font-size: 0.9em;
     }

     .navbar {
         gap: 5px;
     }

     ul li a {
        padding: 20px 15px 0 15px;
    }

     .nav-container,
     .beverages {
         padding: 0;
     }

     .reserve .book-now {
         font-size: 2em;
     }

     .heading-culture-title {
         font-size: 1.4em;
     }

     .menu-heading {
         font-size: 1.3em;
         margin-top: 20px;
     }

     #statement {
         font-size: 1.2em;
         width: 80%;
     }

     .meal h3,
     #menu th,
     .buttons button a {
         font-size: 1.1em;
     }

     p,
     #menu td,
     a,
     .footer-container h4 {
         font-size: 1em;
     }

     th {
         margin: 0;
     }

     #menu p {
         margin: 10px 0 15px;
     }

     .menu-hours p {
         text-align: left;
     }

     .card-image {
         margin: 60px;
     }

     .card {
         padding: 60px;
     }

     .google-form {
         margin: 20px 0 30px;
         padding: 20px 0;
     }

     .mains,
     .appetizers,
     .desserts,
     .beverages {
         transform: translate(0);
     }

     .desserts,
     .appetizers,
     .mains {
         grid-column: 3 / 7;
     }

     .mains {
         grid-row: 2 / 12;
     }

     .desserts,
     .appetizers {
         grid-row: 2 / 10;
     }

     .beverages {
         grid-column: 3 / 8;
         grid-row: 2 / 15;
         width: 90%;
     }

     .info {
         gap: 20px;
     }

     .culture-container {
         margin: 0 20px;
     }

     .native-ingredient-intro {
         gap: 30px
     }

     hr {
         margin: 30px auto;
     }

     .policy-container {
         width: 70%;
     }
 }

 /* ########## 19b. Media query: screen-size, max-width; 1000px ########## */
 
 @media screen and (max-width: 1060px) {

     .voucher-content,
     .native-ingredient-intro,
     .introduced,
     .maori-recipes-intro,
     .hamburger-menu input {
         margin: 0;
     }

     .menu-heading {
         margin-bottom: 10px;
     }

     #kai p,
     .introduced p,
     .maori-recipes p {
         margin: 20px auto 40px;
         transform: translate(0);
     }

     .native-ingredient-intro,
     .introduced,
     .maori-recipes-intro,
     #kai p,
     .introduced p,
     .maori-recipes p,
     ul li a,
     .hamburger-menu input {
         padding: 0;
     }

     .logo {
         top: 2px;
         padding: 10px 10px 10px 20px;
     }

     .sidebar,
     .native-ingredient-intro,
     .introduced,
     .maori-recipes-intro,
     .card,
     .card-sections {
         width: 100%;
     }

     .policy-container,
     .gift-card,
     .voucher-info,
     .about,
     #kai p,
     .introduced p,
     .maori-recipes p,
     .native-ingredient-intro h2,
     .introduced h2,
     .maori-recipes-intro h2 {
         width: 90%;
     }

     #hours .book,
     #hours .image-cover {
         height: 330px;
     }

     .card .buttons a,
     .buttons a {
         width: 200px;
     }

     .image-cover,
     .our-story-image,
     .restaurant-image,
     .book,
     .landscape {
         height: 380px;
     }

     #header {
         height: 110px;
     }

     .voucher-content,
     .native-ingredient-intro,
     .introduced,
     .maori-recipes-intro,
     .nav-container {
         display: block;
     }

     .shellfish,
     .foraged-forest,
     .nav-border,
     .mobile-menu {
         display: none;
     }

     #header,
     .menu-container-appetizers,
     .card-culture-images,
     .restaurant-image {
         position: relative;
     }

     #home .buttons {
         justify-content: center;
     }

     .logo,
     .hamburger-menu {
         position: absolute;
     }

     .menu-container-appetizers,
     .card-culture-images,
     .restaurant-image {
         z-index: -1;
     }

     .footer-container,
     .info,
     .navbar,
     .hamburger-menu {
         flex-direction: column;
     }

     .info,
     .footer-container {
         align-items: center;
     }

     .footer-container,
     .recipes {
         gap: 30px;
     }

     /*----------------------- hamburger menu---------------------- */

     #home-nav {
         display: inline-block;
     }

     .hamburger-menu {
         /* square root of two */
         --x-width: calc(var(--hamburger-height) * 1.41421356237);
         display: flex;
         gap: var(--hamburger-gap);
         width: max-content;
         top: var(--hamburger-margin);
         right: var(--hamburger-margin);
         z-index: 2;
         cursor: pointer;
         margin: 20px 10px 10px;
     }


     .hamburger-menu:has(input:focus-visible)::before,
     .hamburger-menu:has(input:focus-visible)::after,
     .hamburger-menu input:focus-visible {
         border: 1px solid var(--pale);
         box-shadow: 0 0 0 1px var(--dark);
     }


     .hamburger-menu::before,
     .hamburger-menu::after,
     .hamburger-menu input {
         content: "";
         width: var(--bar-width);
         height: var(--bar-height);
         border-radius: 9999px;
         transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate 200ms ease-in-out, translate 200ms ease-in-out, background-color 200ms ease-in-out;
         transform-origin: left center;
     }

     .hamburger-menu input {
         appearance: none;
         outline: none;
         pointer-events: none;
     }

     .hamburger-menu:has(input:checked)::after,
     .hamburger-menu:has(input:checked)::before {
         width: var(--x-width);
     }

     .hamburger-menu:has(input:checked)::before {
         rotate: 45deg;
         translate: 0 calc(var(--bar-height) / -2);
     }

     .hamburger-menu:has(input:checked)::after {
         rotate: -45deg;
         translate: 0 calc(var(--bar-height) / 2);
     }

     .hamburger-menu input:checked {
         opacity: 0;
         width: 0;
     }

     .sidebar {
         transition: translate 200ms ease-in-out;
         translate: -150%;
         padding: 0.5rem 1rem;
         padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
         max-height: 650px;
     }

     .sidebar-home {
        min-height: 690px;
        padding: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem) 1rem 0;
     }
     .sidebar .animate-size:active,
     #home-nav a:active {
         width: 150px;
         padding: 10px 0 0 5px;
     }

     .dropdown .animate-size:active {
         width: 80px;
         margin-bottom: 10px;
         padding: 10px 5px 0;
         transform: translate(-5px);
     }

     .hamburger-menu:has(input:checked)+.sidebar {
         translate: 0;
     }

     .navbar {
         justify-content: flex-end;
         padding-left: 20px;
         height: 650px;
         gap: 3px;
     }

     .home-navbar {
        height: 690px;
     }

     ul li ul.dropdown {
         left: 110px;
         top: 0;
         padding: 20px 20px 0;
         width: 78px;
     }

     /*----------------------- colour ----------------------- */

     #header .dropdown a:active,
     .sidebar .navbar a,
     .sidebar,
     .dropdown .animate-size:active,
     .fa-solid.fa-caret-down::before {
         color: var(--pale);
     }

     #header .dropdown a {
         color: var(--dark);
     }

     #header .dropdown a:active {
         background-color: var(--light);
     }

     .hamburger-menu:has(input:checked) {
         --dark: white;
         --background: var(--dark);
     }

     .sidebar .animate-size:active,
     #home-nav a:active {
         color: var(--pale);
     }

     .navbar,
     .sidebar,
     .dropdown .animate-size:active,
     .hamburger-menu::before,
     .hamburger-menu::after,
     .hamburger-menu input {
         background-color: var(--dark);
     }

     #header .dropdown a:hover,
     .sidebar .animate-size:hover,
     #home-nav a:hover {
         animation-name: none;
         color: rgb(161, 195, 211);
     }

     /* ------------------------- Text -------------------- */

     .native-ingredient-intro h2,
     .introduced h2,
     .maori-recipes-intro h2 {
         font-size: 1.8em;
         text-align: left;
         padding: 40px 0 0 0;
         margin: 0 auto 40px;
     }

     .buttons .reservation-btn a,
     .contact {
         font-size: 1.2em
     }

     #statement,
     h3 {
         font-size: 1.1em;
     }

     #kai li,
     #kai p,
     .introduced p,
     .maori-recipes p {
         font-size: 1em;
     }

     #home .buttons a,
     .native-ingredient-intro h2,
     .introduced h2,
     .maori-recipes-intro h2,
     footer p,
     .footer-container,
     .menu-hours,
     .info,
     .home-book-table>h2,
     .reserve .book-now {
         text-align: center;
     }

     /* --------------------------box-shadow ------------------ */

     .menu-container-appetizers,
     .menu-container,
     .menu-container-desserts,
     .menu-container-beverages {
         box-shadow: none;
     }

     /* -------------------------- home ---------------------- */

     .card-image {
         flex-direction: column;
         max-height: 100%;
     }

     .card-image-even {
         flex-direction: column-reverse;
     }

     .odd-image,
     .even-image {
         border-radius: 0 0 8px 8px;
     }

     /* -------------------------- menu ---------------------- */

     #menu .page-top-headings {
         margin-bottom: 25px;
     }

     .menu-container-appetizers,
     .menu-container,
     .menu-container-desserts,
     .menu-container-beverages {
         margin-bottom: 80px;
     }

     #menu>.info {
         flex-direction: row;
     }

     .appetizers,
     .mains,
     .desserts,
     .beverages {
         grid-column: 1/9;
         grid-row: 11/25;
         width: 80%;
         margin: 20px auto;
         box-shadow: var(--shadow-elevation-medium);
     }

     .beverages {
         width: 87%;
     }

     .venison,
     .pork,
     .salmon {
         grid-column: 5 / 9;
     }


     .foraged-forest,
     .animal-foods,
     .shellfish,
     .salmon {
         grid-row: 1 / 7;
     }

     .snapper,
     .bread,
     .scallops,
     .chowder {
         grid-column: 1 / 5;
     }

     .kereru,
     .pork,
     .scallops,
     .snapper {
         grid-row: 1 / 5;
     }


     .fish,
     .lamb {
         grid-row: 5 / 9;
     }

     .venison,
     .chowder {
         grid-row: 9 / 13;
     }

     .kereru,
     .book-now {
         grid-column: 1 / 3;
     }

     .reserve-btn,
     .top {
         grid-row: 2 / 3;
     }

     .kina,
     .puha {
         grid-column: 7 / 8;
     }

     .puha,
     .horopito,
     .muttonbird {
         grid-row: 6 / 7;
     }

     .paua,
     .huhu {
         grid-row: 1 / 3;
     }

     .moa,
     .foraged-forest,
     .animal-foods,
     .shellfish {
         grid-column: 3 / 4;
     }

     .mains {
         grid-row: 14 / 25;
     }

     .beverages {
         grid-row: 16 / 25;
     }

     .bread {
         grid-row: 5 / 11;
     }

     .fish {
         grid-column: 6 / 9;
     }

     .lamb {
         grid-column: 1 / 6;
     }

     .buttons {
         margin: 0 10px 20px;
         padding-bottom: 20px;
     }

     .buttons a {
         margin: 10px;
     }

     .book-now {
         grid-row: 1 / 2;
     }

     .top {
         grid-column: 1 / 2;
     }

     .reserve-btn {
         grid-column: 2 / 3;
     }

     .top,
     .reserve-btn {
         width: 60px;
     }

     .beverages {
         padding: 10px 10px;
     }

     .beverages table {
         padding: 15px 0;
     }

     /* -------------------- Maori culture -------------- */

     .culture-container {
         grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
         margin: 0 10px 35px;
         gap: 20px;
     }

     /* -------------------------- kai ------------------ */

     .kaiwhenua-images,
     #kai hr {
         margin-bottom: 0;
     }

     .nz-ingredients-container {
         margin-left: 7%;
         gap: 5px;
     }

     .recipes {
         margin: 0px 10px 30px 10px;
         padding: 5px 0 50px;
     }

     .cover,
     #kai .recipes-squares,
     #kai .recipes-squares a {
         width: 270px;
     }

     #kai .recipes-squares,
     #kai .recipes-squares a {
         height: 270px;
     }

     .fern {
         grid-column: 1 / 4;
         grid-row: 5 / 7;
     }

     .horopito {
         grid-column: 6 / 7;
     }

     .huhu {
         grid-column: 3 / 5;
     }

     .moa {
         grid-row: 3 / 5;
     }

     .muttonbird {
         grid-column: 4 / 6;
     }

     .paua {
         grid-column: 5 / 7;
     }

     .whitebait {
         grid-column: 4 / 7;
         grid-row: 3 / 6;
     }

     .eels {
         grid-column: 7 / 9;
         grid-row: 1 / 4;
     }

     .kina {
         grid-row: 4 / 6;
     }

     .pipi {
         grid-column: 8 / 9;
         grid-row: 4 / 7;
     }

     .foraged-forest,
     .animal-foods,
     .shellfish {
         z-index: 99;
         line-height: 1.7;
         padding: 15px;
     }

     /* -------------------- voucher ------------------ */

     .gift-card,
     .voucher-info {
         margin: 50px auto;
     }

     .gift-card {
         width: 400px;
     }

     /* --------------------- staff --------------------- */

     .weeks {
         gap: 0;
     }

     #staff .buttons {
         margin-top: 30px;
     }

     /* --------------------- footer -------------------- */

     footer p {
         margin-top: 40px;
     }
 }

 /* ########## 19c. Media query: screen-size, max-width; 635px ########## */
 @media screen and (max-width: 635px) {

     .nz-ingredients-container,
     .card {
         margin: 0;
     }

     #header {
         margin-bottom: 20px;
     }

     .image-cover,
     .our-story-image,
     .restaurant-image,
     .book,
     .landscape {
         height: 250px;
     }

     h1 {
         font-size: 2.7em;
     }

     #contact .book-now,
     .reserve .book-now,
     #kai h2,
     #home h2 {
         font-size: 1.6em;
     }

     #home h3 {
         font-size: 1.1em;
         padding: 10px 0 10px;
     }

     #home p,
     #statement {
         font-size: 1em;
     }

     .nz-ingredients-container,
     .card {
         text-align: center;
     }

     .map img,
     .odd-image,
     .even-image,
     .card-image {
         border-radius: 0
     }

     /* ------------------------- home --------------------- */

     #home p {
         padding-top: 10px;
     }

     #home h2 {
         margin: 20px 0 10px;
     }

     .card-image {
         margin: 0 0 60px 0;
     }

     .odd-image,
     .even-image {
         max-height: 380px;
     }

     .card {
         padding: 20px;
         align-items: center;
     }

     .card-sections {
         height: 380px;
     }

     #home .buttons a {
         margin-top: 10px;
     }

     .card .buttons {
         margin-left: 0;
     }

     /*------------------------- about ---------------------*/

     .about {
         line-height: 1.6;
     }

    /*------------------------- reservation ---------------------*/

     #reservation .google-form {
         height: 1030px;
     }

     .info {
         gap: 20px;
         margin: 0 20px;
     }

     #reservation .info {
         flex-wrap: wrap;
     }

     /*--------------------------- menu ------------------------ */

     .appetizers,
     .mains,
     .desserts {
         width: 75%;
     }

     /*------------------------ maori culture ------------------- */

     .culture-container {
         grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
         gap: 30px;
     }

     /*------------------------ maori kai -------------------------*/

     .nz-ingredients-container {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 50px 1fr 50px 1fr;
     }

     .nz-ingredients-container>.land {
         grid-row: 1 / 2;
     }

     .nz-ingredients-container>.sea {
         grid-row: 3 / 4;
     }


     .nz-ingredients-container>.sea,
     .nz-ingredients-container>.land {
         grid-column: 1 / 3;
     }

     .sea-life,
     .forest {
         grid-column: 1 / 2;
     }

     .animal-food,
     .forest {
         grid-row: 2 / 3;
     }

     .animal-food,
     .shellfishs {
         grid-column: 2 / 3;
     }

     .muttonbird,
     .fern {
         grid-column: 1 / 4;
     }

     .puha,
     .horopito {
         grid-row: 1 / 3;
     }

     .shellfishs,
     .sea-life {
         grid-row: 4 / 5;
     }

     .kaiwhenua-images {
         transform: translate(0, -40px);
     }

     .kaiwhenua-images {
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(10, 7vw);
         margin-top: 80px;
     }

     .fern {
         grid-row: 4 / 7;
     }

     .puha {
         grid-column: 6 / 9;
     }

     .horopito {
         grid-column: 4 / 6;
     }

     .huhu {
         grid-column: 1 / -1;
         grid-row: 7 / 11;
     }

     .muttonbird {
         grid-row: 1/ 4;
     }

     .paua {
         grid-column: 4 / 5;
         grid-row: 6 / 7;
     }

     .whitebait {
         grid-column: 4 / 9;
         grid-row: 3 / 6;
     }

     .eels {
         grid-column: -1 / 9;
         grid-row: 6 / 11;
     }

     .pipi,
     .kina,
     .kereru,
     .moa,
     .info-here {
         display: none;
     }

     /* --------------------- hours --------------------- */

     #hours .book,
     #hours .image-cover {
         height: 200px;
     }

     /* ----------------------- voucher ------------------- */

     .gift-card {
         width: 360px;
     }

     /*------------------------ contact ---------------------*/

     .map img {
         width: 100vw;
     }

     .map {
         height: 550px;
         background-color: white;
         box-shadow: none;
     }

     #contact .our-restaurant {
         margin-bottom: 0;
     }
 }

 /* ########## 19d. Media query: screen-size, max-width; 400px ########## */

 @media screen and (max-width: 400px) {

     #statement {
         margin: auto;
     }

     #statement,
     .roster-week h4,
     #iframes {
         width: 100%;
     }

     .nz-ingredients-container,
     .google-form {
         margin: 0;
     }

     .kaiwhenua-images {
         margin-top: 0;
     }

     #contact .reserve-btn,
     #hours .reserve-btn,
     .native-ingredients,
     .privacy-answers h4 {
         margin-bottom: 20px;
     }

     #about .buttons a,
     #maori-culture .reserve-btn,
     #maori-culture .buttons a {
         padding-bottom: 20px;
     }

     .buttons a {
         padding: 20px 10px 0;
     }

     hr {
         width: 80%;
     }

     .top,
     .reserve-btn {
         width: 60px;
     }

     #reservation .buttons a,
     #home .buttons a,
     .buttons a,
     #contact .reserve-btn,
     #contact .top,
     #hours .reserve-btn,
     #hours .top {
         height: 44px;
     }

     .image-cover,
     .our-story-image,
     .restaurant-image,
     .book,
     .landscape {
         height: 200px;
     }

     .nav-border {
         display: none;
     }

     #menu .buttons,
     #contact .buttons,
     #hours .buttons {
         flex-direction: column;
     }

     #contact .reserve-btn,
     #hours .reserve-btn {
         order: 2;
     }

     #menu .top,
     #contact .top,
     #hours .top {
         order: 3;
     }

     #contact .book-now,
     #hours .book-now {
         margin: 20px 0;
         order: 1;
     }

     .book-now,
     .nz-ingredients-container>.land {
         grid-row: 1 / 2;
     }

     .top,
     .reserve-btn {
         grid-row: 2 / 3;
     }

     .book-now {
         grid-column: 1 / 3;
     }

     .top {
         grid-column: 1 / 2;
     }

     .reserve-btn {
         grid-column: 2 / 3;
     }

     /*-------------- Text / borders ------------  */

     h1 {
         font-size: 2.2em;
     }

     .reserve .book-now,
     #kai h2 {
         font-size: 1.5em;
     }

     .nz-ingredients-container {
         text-align: center;
     }

     #iframes,
     .google-form {
         border-radius: 0;
     }

     /* ---------------- header ----------------- */

     #header {
         margin-bottom: 20px;
     }

     #home .buttons a {
         padding: 20px 20px 0;
     }

     #home .buttons {
         justify-content: center;
     }

     /* -------------- Reservations -------------- */

     #reservation .page-top-headings {
         margin-bottom: 40px;
     }

     .google-form {
         position: static;
         padding: 0;
         background-image: linear-gradient(black, white);
         margin-top: -4px;
     }

     #reservation .google-form,
     #reservation iframe {
         height: 1150px;
     }

     #reservation .google-form {
         height: 1170px;
         margin: 30px 0;
     }

     .iframe-form {
         width: 95vw;
         height: 1100px;
     }

     #reservation .buttons a {
         padding: 20px 0 0 0;
     }

     .page-top-headings {
         margin: 70px 20px;
     }

     /* ------------------- Menu -------------------*/

     #menu .page-top-headings {
         margin-top: 0;
     }

     .beverages {
         padding: 10px 10px;
     }

     .beverages table {
         padding: 15px 0;
     }

     .appetizers,
     .mains,
     .desserts {
         width: 70%;
     }

     .fish,
     .lamb {
         grid-row: 5 / 9;
     }


     .chowder,
     .scallops {
         grid-column: 1 / 5;
     }


     .scallops,
     .pork {
         grid-row: 1 / 5;
     }


     .chowder,
     .venison {
         grid-row: 9 / 13;
     }

     .pork,
     .venison {
         grid-column: 5 / 9;
     }

     .fish {
         grid-column: 6 / 9;
     }

     .chowder {
         grid-row: 9 / 13;
     }

     .lamb {
         grid-column: 1 / 6;
     }

     /* ---------------- Maori culture ------------- */

     .culture-container {
         grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
     }

     /* -----------------Maori kai ---------------- */

     .nz-ingredients-container {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 50px 1fr 1fr 50px 1fr 1fr;
     }

     .nz-ingredients-container h4 {
         margin: 0 0 10px;
         color: var(--dark);
     }

     .nz-ingredients-container>.land {
         grid-column: 1 / 3;
     }

     .nz-ingredients-container>.sea {
         grid-column: 1 / 3;
         grid-row: 4 / 5;
     }

     .forest {
         grid-column: 1 / 3;
         grid-row: 2 / 3;
     }

     .animal-food {
         grid-column: 1 / 3;
         grid-row: 3 / 4;
     }

     .sea-life {
         grid-column: 1 / 3;
         grid-row: 5 / 6;
     }

     .shellfishs {
         grid-column: 1 / 3;
         grid-row: 6 / 7;
     }

     /* ---------------- Voucher ----------------*/

     .gift-card {
         width: 300px;
     }

     .gift,
     .gift-card {
         height: 220px;
     }

     .gift-heading {
         margin-top: 20px;
     }

     .map {
         height: 300px;
     }

     #hours .book,
     #hours .image-cover {
         height: 150px;
     }

     /* ---------------- staff -----------------------*/

     .roster-week {
         padding: 10px;
     }

     /* ---------------- Privacy Policy -----------------------*/

     #privacy-policy p,
     #privacy-policy li {
         line-height: 1.5;
         font-size: 0.9em;
     }

     .contact-info li {
         font-size: 0.8px;
     }

     .privacy-answers h4 {
         font-size: 1.1em;
     }

     #policy .hours {
         padding-left: 0;
     }

     /* ----------------- iframes ----------------- */

     #iframes {
         left: 0;
         top: 20px;
     }

     #hours .iframe-container {
         height: 1200px;
     }
 }